ul {
    list-style-type: none;
}

.menuItem {
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

div.menuContainer {
    justify-content: center;
    display: flex;
    padding-right: 35px;
    background: steelblue;
    box-shadow: 0 10px 20px;
}

div.menuContainer :active {
    transform: translate(0px, 3px);
}

.menuContainer li {
    font-size: 1.3rem;
}

.deleteBtn {
    border-radius: 20px;
    border: aquamarine solid 1px;
    background: #ffffffb0;
}