.menuArray {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    align-content: stretch;
}

span {
    margin-left: 5px;
}

.containerOfContainer {
    display: flex;
    justify-content: center;
}

.menuArrayContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.foodContainer {
    margin-bottom: 20px;
}