.menuArray {
    display: flex;
    justify-content: center;
}

span {
    margin-left: 5px;
    margin-right: 5px;
}

.menuArrayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodContainer {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.menuList {
    border-radius: 5px;
}

.containerOfContainer {
    display: flex;
    justify-content: center;
}

.searchContainer {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

.searchBox {
    border-radius: 10px;
    padding: 5px 10px;
}

.selectedMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orderHeaders {
    display: flex;
    justify-content: center;
}

.waitingHeader {
    padding-right: 8%;
}

p {
    color: white;
}

