.NavUl {
    list-style-type: none;
    display: flex;
    box-shadow: 0 5px 20px;
    /*padding: 10px 0 20px 10px;*/
    background: #ffffffbb;
    font-weight: bold;
}

.NavLi {
    justify-content: left;
    padding: 10px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    user-select: none;
}

.navActive {
    background-color: #000000aa;
    color: white;
}