.NavUl {
    list-style-type: none;
    display: flex;
    box-shadow: 0 5px 20px;
    padding: 10px 0 20px 10px;
    background: #ffffffcf;
}

.NavLi {
    justify-content: left;
    padding-right: 20px;
    font-size: 1.1rem;
    cursor: pointer;
    user-select: none;
}

.navActive {
    background-color: orange;
}