.NavUl {
    list-style-type: none;
    display: flex;
    box-shadow: 0 5px 20px;
    /*padding: 10px 0 20px 10px;*/
    background: #ffffffbb;
    font-weight: bold;
    flex-direction: column;
    align-items: flex-start;
    animation-name: openMenu;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.closeMenu {
    position: absolute;
    animation-name: closeMenu;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    width: 95vw;
}

@keyframes closeMenu {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-50vh);
    }
}

@keyframes openMenu {
    from {
        transform: translateY(-50vh);
    }
    to {transform: translateY(0px);}
}

.NavLi {
    justify-content: left;
    padding: 10px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    user-select: none;
}

.NavLi:hover {
    background-color: #00000044;
}

.navActive {
    background-color: #000000aa;
    color: white;
}

.burgerContainer {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.burgerPosition {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    padding-top: 20px;
}