.tableDiv {
    background: #ffffff11;
    margin: 1%;
    font-size: 1.5rem;
    padding: 1%;
    box-shadow: #282c34 5px 5px 10px;
}

.activeTableDiv {
    background: #000000aa;
    margin: 1%;
    font-size: 1.5rem;
    padding: 1%;
    box-shadow: #282c34 5px 5px 10px;
}

.tableDiv p {
    cursor: pointer;
    user-select: none;
}

.deleteBtnContainer {
    display: flex;
    justify-content: flex-end;
}

.deleteBtn {
    padding: 5px 10px;
    cursor: pointer;
}

.clickTable {
    cursor: pointer;
    user-select: none;
    color: white;
}