.tableDiv {
    background: #2278c16e;
    margin: 1%;
    font-size: 1.5rem;
    padding: 1%;
    box-shadow: #282c34 5px 5px 10px;
}

.activeTableDiv {
    background: #ff5e008c;
    margin: 1%;
    font-size: 1.5rem;
    padding: 1%;
    box-shadow: #282c34 5px 5px 10px;
}

.tableDiv p {
    cursor: pointer;
    user-select: none;
}

.deleteBtnContainer {
    display: flex;
    justify-content: flex-end;
}

.deleteBtn {
    padding: 5px 10px;
    cursor: pointer;
}

.clickTable {
    cursor: pointer;
    user-select: none;
    color: white;
}

.eatingTableDiv {
    background: #cf70dbb0;
    margin: 1%;
    font-size: 1.5rem;
    padding: 1%;
    box-shadow: #282c34 5px 5px 10px;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h1 {
    color: white;
}
span {
    color: white;
}